$LOGO_LIGHT: lighten( teal, 10%);
$LOGO_DARK: darken( teal, 10%);

$BG_BLACK: lighten( black, 10%);
$CONTAINER_BG: darken( white, 3%);
$TEXT_BLACK: lighten( black, 3%);
$TEXT_WHITE: darken( white, 3%);
