@import "globals.scss";

#main {
    .container {
        background-color: $CONTAINER_BG;
        padding-bottom: 20px;
    }
    h1{
        margin: 0px; padding: 0px;
        font-size: 38px;
    }
    h2 {
        margin: 0px; padding: 0px;
        font-size: 24px;
    }
}

#page_content {

}


#playlists_index, #explorer_index {
    box-sizing: border-gox;
    padding-top: 25px;
    padding-bottom: 25px;
    .playlist {
        margin-bottom: 20px;
        .playlist_image {
            float: left;

            img {
                width: 120px;
            }
        }
        .playlist_display{
            margin-left: 140px;
        }
        .playlist_name {
            margin-top: 15px;
        }
        .playlist_add {
            text-decoration: none;
            &.in_crate {
                text-decoration: underline;
            }
        }
    }
}

#playlists_edit {
    #playlist_location {
        display:none;
    }
    #playlists_edit-map {
        height: 300px;
    }
    #playlist_edit-meta {
        width: 30%; float: left;
        margin-left: 3.3%;
    }
    .playlists_edit-tracks {
        width: 30%; float: left;
        margin-left: 3.3%;
    }
    #playlsits_edit-map {
        width: 30%; float: left;
        margin-left: 3.3%;
    }
    #playlists_edit-tracks-list {
        list-style: none;
        margin: 0px; padding: 0px;
        & > li {
            margin: 0px; padding: 0px;
            display: block;
            padding-left: 10px;
            &:nth-child(even) {
                background-color: lighten( gray, 30% );
            }
            &:nth-child(odd) {
                background-color: darken( gray, 30% );
                .playlists_edit-tracks-title {
                    color: white;
                }
            }
        }
    }
    .playlists_edit-tracks-title {
        display: inline;
        max-width: 150px;
        word-wrap: break-word !important;
    }
    .playlists_edit-artist_break {
        display: inline;
        margin-left: 6px; margin-right: 6px;
    }
    .playlists_edit-tracks-artists {
        display: inline;
    }
    .playlists_edit-tracks-artists-display {
        display: inline;
        display: none;
    }
    .playlists_edit-tracks-artists {
        display: inline;
        ul {
            display: inline;
            list-style: none;
            margin: 0px; padding: 0px;
            li {
                display: inline;
                margin: 0px; padding: 0px;
                background-color: gray;
                padding-left: 6px; padding-right: 6px;
            }
        }
    }
    .playlists_edit-description {
        margin-top: 10px; margin-bottom: 10px;
    }
}
