.clear,
.clearfix {
  height: 0px;
  line-height: 0px;
  clear: both;
}

/**
 *  Normal page container
 */

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #1a1a1a;
  color: #080808;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
}

header {
  font-family: "Oleo Script", cursive;
  font-weight: 700;
  font-size: 36px;
}

header a {
  text-decoration: none;
}

header #header_logo a {
  color: #00b3b3;
  text-shadow: #004d4d;
}

header .container {
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main .container {
  background-color: #f7f7f7;
}

